body {
    font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif, Monospace;
    background-color: #fff;
    margin: 0;
    overflow: hidden;
    color: white;
}

div {
    font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif, Monospace;
    color: white;
    font-size: 11px;
}

#game {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999999999;
}
#container-loading {
    width: 200px;
    height: 200px;

    position: absolute;
    top: calc(50vh - 100px);
    left: calc(50vw - 100px);

    overflow: hidden;
    padding: 15px 0px;

    font-size: 50px;
    text-align: center;

    color: #000;

    opacity: 0.6;
}