<form id="frm-login">
    <div class="box-blur-bg blur"></div>
    <div class="box-container">
        <div class="box">
            <!--<h1>Authorization</h1>-->
            <input type="text" name="user" placeholder=""/>
            <input type="password" name="pass" placeholder=""/>
            <button type="submit"><i class="fa fa-unlock-alt" aria-hidden="true"></i></button>
            <!--<p>Not a member? <span>Sign Up</span></p>-->
        </div>
    </div>
</form>

<div class="login-footer">
    <p>${app.version}</p>
</div>